{% extends 'LAW1/main_ext.html' %}

{% block body %}
    <div class="main_ext">
        <div class="ext_wrapper">
            <div class="ext_min_wrapper">
        <!-- <div class="law_products">
            <div class="our_producst">
                <div class="better"> 
                    <h1>Deeper Understanding </h1>
                    <h1> Better Solutions </h1>
                    <span> <a href=""> Get Intouch</a>  </span>
                </div>
            </div>
        </div>
        
        <div class="law_products">
            <div class="our_producst">
                <div class="Loan"> Family Law</div>
                <div class="Loan"> Business Law</div>
                <div class="Loan"> Trust & Estate </div>
            </div>
        </div>
    </div> -->
            </div>
        </div>
    </div>
{% endblock %}